<mat-card>
    <h2>nº {{pkdata.id}}: {{pkdata.name}}</h2>
    <div *ngIf="token"><img src="{{pkdata.sprite}}" alt=""></div>
</mat-card>

<div *ngIf="token">
    <mat-card>
        <h3>Types:</h3>
        <mat-list *ngFor="let type of pkdata.types">
            <mat-list-item>{{type}}</mat-list-item>
        </mat-list>
    </mat-card>
    <mat-card>
        <h3>Abilities:</h3>
        <mat-list *ngFor="let ability of pkdata.abilities">
            <mat-list-item>{{ability}}</mat-list-item>
        </mat-list>
    </mat-card>
    <mat-card>
        <h3>Moves:</h3>
        <table>
            <tr class="mat-header-row">
                <th class="mat-header-cell">Move</th>
                <th class="mat-header-cell">How to learn</th>
            </tr>
            <tr *ngFor="let move of pkdata.moves" class="mat-row">
                <td class="mat-cell">{{move.name}}</td>
                <td class="mat-cell">{{move.how}}</td>
            </tr>
        </table>
    </mat-card>
</div>